<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>com.car.servlet.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup1</servlet-name>
        <servlet-class>com.car.helper.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>com.servlet.Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signin1</servlet-name>
        <servlet-class>com.servlet.Signin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup1</servlet-name>
        <url-pattern>/Signup1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signin1</servlet-name>
        <url-pattern>/Signin1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
